/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400..900;1,400..900&display=swap');

body{
    width: 90%;
    margin: auto;
    background-color: brown;
}
/*Main Header*/
.main-header{
    font-family: "Lato";
    font-size: 60px;
    text-align: center;
    margin:0;
}
/*Carousel*/

/*Cards*/
.card{
    display: block;
    margin: auto;
}
.card-body{
    font-family: "Lato";
}